<div class="row">
		<div class="col-sm-3 div-border"><strong>Product Name</strong></div>
		<div class="col-sm-3 div-border"><strong>Price</strong></div>
</div>
<div ng-repeat="product in productsCtrl.products track by $index">
	<div class="row">
		<div class="col-sm-3 div-border">
		<label ng-if="!product.editable">{{product.name}}</label>
		<div ng-if="product.editable"><input type="text" ng-model="product.name"></div>
		</div>
		<div class="col-sm-3 div-border">
		    <label ng-if="!product.editable">{{product.price}}</label>
			<div ng-if="product.editable"><input type="text" ng-model="product.price"></div>
		</div>
		<div class="col-sm-3 div-border">
			<a ng-if="!product.editable" ng-click="product.editable=true;"><label>Edit</label></a>
			<a ng-if="product.editable" ng-click="productsCtrl.updateProduct(product);product.editable=false;"><label>Save</label></a>
		</div>
	</div>
</div>
